.btn {
    cursor: pointer;
    transition: .1s ease;
    padding: 13px 18px;
    background: linear-gradient(90deg, rgba(255,0,209,1) 0%, rgba(255,111,0,1) 100%);
    border-radius: 12px;
    border:none;
    color:white;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1rem;
}

.btn:hover {
    transition: .2s ease;
    transform: scale(1.1);
}