.fab {
    z-index: 10;
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    z-index: 3;
    border-radius: 50%;
    border:none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fab:hover {
    background: black;
}